@model IEnumerable<ReservationViewModel>
@{
    ViewBag.Title = "All of the reservations";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">Table No_ @e.Id</h5>
                <p class="mb-0"><span class="fw-bold">Table of </span>@e.NumberOfSeats</p>
                <p class="mb-0"><span class="fw-bold">Is Smoking Allowed </span>@e.IsSmokingAllowed</p>
                <p class="mb-0"><span class="fw-bold">Customer </span>@e.FirstName @e.LastName</p>
                <p class="mb-0"><span class="fw-bold">Start: </span>@e.Start </p>
                <p class="mb-0"><span class="fw-bold">End: </span>@e.End</p>
            </div>

        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}